In [112]:
import os
import numpy as np
import pandas as pd


#Distance Calculation
from scipy.spatial import distance

In [113]:
insitu = pd.read_excel(r"D:\S1\Semester 7\NAIST Internship\Breast Cancer Project\Program\insitu_feat.xlsx")
invasive = pd.read_excel(r"D:\S1\Semester 7\NAIST Internship\Breast Cancer Project\Program\invasive_feature.xlsx")

In [114]:
insitu_feat = insitu.values
invasive_feat = invasive.values

In [115]:
group_1 = pd.read_excel(r"D:\S1\Semester 7\NAIST Internship\Breast Cancer Project\Program\Excel\C1_C7.xlsx")
group_2 = pd.read_excel(r"D:\S1\Semester 7\NAIST Internship\Breast Cancer Project\Program\Excel\C0_C2_C3_C4_C5_C6_C8.xlsx")



## group 1 are C1 and C7
## group 2 are C0, C2, C3, C4, C5, C6, and C8

In [117]:
group1_feat = group_1.values
group2_feat = group_2.values
group1_feat.shape[1]

512

## In Situ Carcinoma Distance

In [139]:
insitu_dist1 = np.eye(N=1,M=2,dtype=float)
#In Situ Distance
for i in range(0,2):
        insitu_dist1[0][i] = distance.euclidean(group1_feat[i], insitu_feat[0])

In [119]:
dist_df = pd.DataFrame(insitu_dist1)
dist_df.style.background_gradient(cmap='YlOrRd')

In [124]:
insitu_dist1 = np.mean(insitu_dist1)
print(insitu_dist1)

22685.952053953784

In [142]:
insitu_dist2 = np.eye(N=1,M=7,dtype=float)
#In Situ Distance
for i in range(0,7):
        insitu_dist2[0][i] = distance.euclidean(group2_feat[i], insitu_feat[0])

In [126]:
dist_df = pd.DataFrame(insitu_dist2)
dist_df.style.background_gradient(cmap='YlOrRd')

In [127]:
insitu_dist2 = np.mean(insitu_dist2)
print(insitu_dist2)

7802.321787661048

## Invasive Carcinoma Distance

In [144]:
invasive_dist1 = np.eye(N=1,M=2,dtype=float)
#In Situ Distance
for i in range(0,2):
        invasive_dist1[0][i] = distance.euclidean(group1_feat[i], invasive_feat[0])

In [129]:
dist_df = pd.DataFrame(invasive_dist1)
dist_df.style.background_gradient(cmap='YlOrRd')

In [130]:
invasive_dist1 = np.mean(invasive_dist1)
print(invasive_dist1)

34338.202623166726

In [150]:
invasive_dist2 = np.eye(N=1,M=7,dtype=float)
#In Situ Distance
for i in range(0,7):
        invasive_dist2[0][i] = distance.euclidean(group2_feat[i], invasive_feat[0])

In [132]:
dist_df = pd.DataFrame(invasive_dist2)
dist_df.style.background_gradient(cmap='YlOrRd')

In [133]:
invasive_dist2 = np.mean(invasive_dist2)
print(invasive_dist2)

9747.33666754844

In [68]:
Validation = np.eye(N=2,M=2, dtype=float)
Validation[0][0] = insitu_dist1
Validation[0][1] = invasive_dist1
Validation[1][0] = insitu_dist2
Validation[1][1] = invasive_dist2

In [69]:
dist_df = pd.DataFrame(Validation)

dist_df.style.highlight_min(color = 'lightgreen',  
                       axis = 1)

### Centroid Groups Approach

In [107]:
group_centroid = np.empty((2, group1_feat.shape[1]))

group1_feat = np.mean(group1_feat, axis=0)
group2_feat = np.mean(group2_feat, axis=0)

group_centroid [0] = group1_feat
group_centroid [1] = group2_feat

In [108]:
val_data = pd.read_excel(r'D:\S1\Semester 7\NAIST Internship\Breast Cancer Project\Program\val_feature.xlsx')
val_feat = val_data.values

In [109]:
centroid_dist = np.eye(N=2,M=2,dtype=float)
#In Situ Distance
for i in range(0,2):
    for j in range (0,2):
        centroid_dist[i][j] = distance.euclidean(group_centroid[i], val_feat[j])

In [110]:
dist_df = pd.DataFrame(centroid_dist)

dist_df.style.highlight_min(color = 'lightgreen',  
                       axis = 1)

## Minimum Distance Value Approach (Final Approach)

In [146]:
insitu_dist1 = np.min(insitu_dist1)
print(insitu_dist1)

invasive_dist1 = np.min(invasive_dist1)
print(invasive_dist1)

18018.586169207676
29754.603395954033

In [151]:
insitu_dist2 = np.min(insitu_dist2)
print(insitu_dist2)

invasive_dist2 = np.min(invasive_dist2)
print(invasive_dist2)

2710.28547999718
1847.7067759706304

In [152]:
Validation = np.eye(N=2,M=2, dtype=float)
Validation[0][0] = insitu_dist1
Validation[0][1] = invasive_dist1
Validation[1][0] = insitu_dist2
Validation[1][1] = invasive_dist2

In [162]:
dist_df = pd.DataFrame(Validation)


dist_df.columns =['In Situ', 'Invasive']
dist_df.index = ['Group 1', 'Group 2']

dist_df.style.highlight_min(color = 'light',  
                       axis = 1) 

## Group 1 are C1 and C7
## Group 2 are C0, C2, C3, C4, C5, C6, and C8